body { 
    font-family: Arial, sans-serif; 
} 
header { 
    background-color: #007bff; 
    color: white; 
} 

.info-right {
    text-align: right;
}

nav .navbar-nav .nav-link { 
    color: #007bff; 
} 
nav .navbar-nav .nav-link:hover { 
    color: #0056b3; 
} 
.navbar-text { 
    margin-right: 20px; 
}
.navbar {
    border-bottom: 1px black solid;
}