<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
    "-//Hibernate/Hibernate Configuration DTD 5.0//EN" 
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gestion_scolarite?useSSL=false&amp;allowPublicKeyRetrieval=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">cytech0001</property>
        
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- Peut être `create`, `update`, etc. -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        
        <!-- Mappages des entités -->
        <mapping class="jpa.Enseignant"/>
        <mapping class="jpa.Administrateur"/>
        <mapping class="jpa.Etudiant"/>
        <mapping class="jpa.Cours"/>
        <mapping class="jpa.Note"/>
        <mapping class="jpa.Inscription"/>
        <!-- Ajoutez d'autres classes d'entité ici -->
    </session-factory>
</hibernate-configuration>
